scipy>=1.5.4
apscheduler>=3.6.3
arrow>=0.17.0
redis>=3.5.3
redis-py-cluster>=2.1.0
PYMYSQL>=0.10.1
numpy>=1.19.4
pandas>=1.1.4
cx-Oracle>=8.0.1
setuptools>=50.3.2
matplotlib>=3.3.3
python-dateutil>=2.8.1
